html, body, .flex-container {
    height: 100%;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

body {
    margin: 0;
    overflow: hidden;
    background: -webkit-linear-gradient(to bottom right, #fd5474, #fedb9); 
    background:    -moz-linear-gradient(to bottom right, #fd5474, #fedb9); 
    background:     -ms-linear-gradient(to bottom right, #fd5474, #fedb9); 
    background:      -o-linear-gradient(to bottom right, #fd5474, #fedb9); 
    background:         linear-gradient(to bottom right, #fd5474, #fedb9);
}

.flex-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-weight: bold;
    display: block;
}

.first-name {
    font-size: 8em;
    opacity: 1;
}

.surname {
    font-size: 5em;
    margin-top: -0.8em;
    text-align: right;
    color: #ffe1e1;
    text-shadow: 5px 5px #fd9082;
}

.things-i-do { 
    display: block;
    padding-bottom: 5px;
}

.email { 
    display: block;
    padding-bottom: 5px;
}

.email > a {
    color: #ffdada;
    text-decoration: none;
}

.email a:hover {
    text-decoration: underline;
}

.bottom-left-text {
    text-align: left;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    clear: both;
}
